  name: ThirdGen Security Scan                                                                                                 
                                                                                                                               
  on:                                                                                                                          
    pull_request:                                                                                                              
      branches: [main, master]                                                                                                 
    push:                                                                                                                      
      branches: [main, master]                                                                                                 
    workflow_dispatch:                                                                                                         
                                                                                                                               
  jobs:                                                                                                                        
    scan:                                                                                                                      
      uses: haidaralimasu/thirdgen-scanner/.github/workflows/scan.yml@main                                                     
      secrets: inherit   
